div.bar {
				display: inline-block;
				width: 20px;
				height: 75px;	/* Gets overriden by D3-assigned height below */
				margin-right: 2px;
				background-color: teal;
			}
rect:hover {
	fill: #ff6868;
}

a {
	text-decoration: none;
	color: #7ea2bc;
}

a:hover {
	text-decoration: underline;
}

.axis {
	fill: none;
	stroke: yellow;
	shape-rendering: crispEdges;
}

svg {
	border: solid 1px black;
	background-color: black;
	display: block;
	margin: auto 0;
}

.axis text {
	font-family: sans-serif;
	font-size: 12px;
	font-color: yellow;
}
		
		